//biến
$blackColor : black;
$whiteColor : white;
$textColor :#333; 
$primery-color : #ee4d2d;
$border-color : #dbdbdb;
//css chung
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
   // font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
// responsive
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
    }
    &__full-width {
        width: 100%;
    }
}
//test 
.grid__column-2 {
    width: 16.6667%;
    padding-left: 5px;
    padding-right: 5px;
}
.grid__column-10 {
    width: 83.3333%;
    padding-left: 5px;
    padding-right: 5px;
}
.grid__column-2-of-10 {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}
// header
.header {
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
    &__navbar {
        display: flex;
        justify-content: space-between;
        &-icon {
            margin: 0 4px;
            font-size: 1.8rem;   
            &-link {
                display: inline-flex;
                align-items: center;
                color: $whiteColor;
                text-decoration: none;
                &:hover {
                    cursor: pointer;
                    color: rgba($color: $whiteColor, $alpha: 0.7);
                }
            }
        }
        &-title--nopointer {
            
            cursor: auto;
            color: $whiteColor ;
        }
        
        &-list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding-left:0 ;
            margin: 4px 0 0 0;
        }
        &-item {
            display: inline-flex;
            align-items: center;   
            font-size: 1.5rem;
            color: $whiteColor; 
            font-weight: 300;
            margin: 0 8px;
            position: relative;
            &--sparate {
                padding-right: 15px;
                border-right: 1px solid white;
            }
            &:hover{   
                cursor: pointer;
                color: rgba($color: $whiteColor, $alpha: 0.7);
            }
            &-link {
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                font-size: 1.5rem;
                color: $whiteColor; 
                font-weight: 300;
                &:hover{
                    cursor: pointer;
                    color: rgba($color: $whiteColor, $alpha: 0.7);
                }
            }
            &--strong {
                font-weight: 600;
            }
            &--hasQR:hover .header__qr {
                display: block;
            }
            &--hasNotify:hover .header__notify {
                display: block;
            }
        }
        &-user {
           display: flex;
           justify-items: center;
            &-avt {
                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 1px solid rgba($color: #000000, $alpha: 0.2);
            }
            &-name {
                margin-left: 8px;
                font-size: 1.4rem;
                font-weight: 600;
            }
            &:hover .header__navbar-user-menu {
                display: block;
            }
            &-menu {
                position: absolute;
                z-index: 2;
                width: 160px;
                top: calc(100% + 8px);
                right: 0;
                padding-left: 0;
                border-radius: 2px;
                list-style: none;
                background-color: white;
                box-shadow: 0 1px 2.5rem 0 rgba(0, 0, 0, 0.3);
                animation: fadeIn linear 0.2s;
                cursor: default;
                display: none;
                &::after {
                    content: "";
                    border-width: 20px 27px;
                    border-style: solid;
                    border-color: transparent transparent $whiteColor transparent;
                    position: absolute;
                    top: -27px;
                    right: 20px;
                    z-index: -1;
                }
                &::before {
                    content: "";
                    width: 100px;
                    height: 20px;
                    position: absolute;
                    top: -20px;
                    right: 0px;
                }
            }
            &-item {
                width: 100%;
                
                & a {
                    text-decoration: none;
                    font-size: 1.4rem;
                    font-weight: 600;
                    padding: 12px 16px;
                    display: block;
                    color: $textColor;   
                    &:hover {
                        background-color: rgb(248, 248, 248);
                        color: rgb(21, 206, 212);
                    }  
                }
                :first-child {
                    border-top-right-radius: 2px;
                    border-top-left-radius: 2px;
                }
                :last-child {
                    border-bottom-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                }
                &--sparate {
                    border-top: 1px solid rgba($color: #000000, $alpha: 0.05);
                }
            }
        }

    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    // QR code
    &__qr {
        width: 186px;
        background-color: $whiteColor;
        position: absolute;
        left: 10%;
        top: 140%;
        padding: 8px;
        border-radius: 2px;
        display: none;
        animation: fadeIn linear 0.2s;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        &::before {
            position: absolute;
            left: 0;
            width: 100%;
            top: -10px;
            height: 20px;         
            content: "";
            display: block;
        }
        &-img {
            width: 100%;
        }
        &-apps {
            display: flex;
            justify-content: space-between;

        }
        &-dowload-img {
            height: 15px;
        }
        &-link:nth-child(1) {
            margin-left: 11px;
        }
        &-link:nth-child(2) {
            margin-right: 11px;
        }
    }
    // header notification
    &__notify {
        position: absolute;
        top: calc(100% + 8px);
        right: 0;
        width: 404px;
        background-color: $whiteColor;
        border: 1px solid #D3D3D3;
        cursor: default;
        transform-origin: calc(100% - 30px) top;
        animation: headerNotifyGrowth ease-in 0.25S;
        z-index: 3;
        border-radius: 2px;
       // overflow: hidden;
        display: none;  
        &::before {
            position: absolute;
            left: 0;
            width: 100%;
            top: -10px;
            height: 20px;         
            content: "";
            display: block;
        }
        &::after {
            content: "";
            border-width: 20px 27px;
            border-style: solid;
            border-color: transparent transparent $whiteColor transparent;
            position: absolute;
            top: -27px;
            right: 4px;
        }
        @keyframes headerNotifyGrowth {
            from {
                opacity: 0;
                transform: scale(0);
            }
            to {
                opacity: 1;
                transform: scale(1);
            }
        } 
        &-header h3 {
            height: 40px;
            background-color: $whiteColor;
            color: #999;
            margin: 0 0 0 12px;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 40px;
            user-select: none;
        }
        &-list {
            padding-left: 0;

        }
        &-item {
            &--read {
                background-color: rgba(238, 77, 45, 0.08);
            }
            &:hover {
                background-color: #f7f7f7;
            }
        }
        &-link {
            display: flex;
            padding: 12px;
            text-decoration: none;
           
        }
        &-img {
            width: 48px;
            object-fit: contain;
        }
        &-infor {
            margin-left: 12px;
        }
        &-name {
            display: block;
            font-size: 1.4rem;
            color: black;
            font-weight: 600;
            line-height: 1.6rem;
        }
        &-discriotion {
            display: block;
            font-size: 1.2rem;
            color: #666;
            line-height: 1.6rem;
            margin-top: 4px;
        }
        &-footer {
            //display: flex;
           
            &-btn {
                text-decoration: none;
                color: $textColor;
                font-weight: 600;
                padding: 8px 16px;
                text-align: center;
                font-size: 1.4rem;
                display: block;
                width: 100%;
            }
        }
    }
    
     
}
// button style
.btn {
    min-width: 130px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0px 8px;
    outline: none;
    cursor: pointer;
    color: $textColor;
    background-color: $whiteColor;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    & .btn--size-s {
        height: 30px;
        font-size: 1.4rem;
    }
    &.btn--primary {
        background-color: $primery-color;
        color: $whiteColor;
        
    }
    &.btn--disabled {
        cursor: default;
        color: #999;
        background-color: #D3D3D3;
    }

}
//modal

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.3);
    }
    &__body {
        animation: growth linear 0.2s;
        margin: auto;
        position: relative;
        z-index: 1;
       
    }
}
$growth-from : 0.7;
$growth-to : 1;
@keyframes growth {
    from {
        transform: scale($growth-from);
    }
    to {
        transform: scale($growth-to);
    }
    
}
.auth-form {
    background-color: $whiteColor;
    border-radius: 4px;
    width: 500px;
    overflow: hidden;
    &__container {
        padding: 0 32px;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
        margin-top: 12px;
    }
    &__heading {
        font-size: 2rem;
        font-weight: 600;
        color: $textColor;
    }
    &__switch-btn{
        font-size: 1.6rem;
        color: $primery-color;
        font-weight: 900;
        cursor: pointer;
    }
    &__form {
        
    }
    &__input {
        width: 100%;
        height: 35px;
        margin-top: 16px;
        padding: 0 12px;
        font-size: 1.4rem;
        border: 1px solid $border-color;
        border-radius: 2px;
        outline: none;
        &:focus {
            border-color: #888;
        }
    }
    &__aside {
        margin-top: 16px;

    }
    &__help {
        display: flex;
        justify-content: flex-end;
        &-link {
            text-decoration: none;
            color: rgba($color: #000000, $alpha: 0.5);
            font-size: 1.4rem;
            font-weight: 600;
        }
        &-forgot {
            color: $primery-color;
        }
        &-seperate {
            width: 1px;
            height: 1.9rem;
            margin: 0 16px;
            background-color: rgb(216, 215, 215);
        }
    }

    &__policy {
        &-text {
            font-size: 1.2rem;
            text-align: center;
            padding: 0 6px;
        }
        &-link {
            text-decoration: none;
            color: $primery-color;
            font-weight: 600;
        }
    } 
    &__controls {
        margin-top: 80px;
        display: flex;
        justify-content: flex-end;
        &-back {
            margin-right: 8px;
            &:hover {
                background-color: rgba($color: #000000, $alpha: 0.1);
            }
        }
    }
    &__socials {
        background-color: #ececec;
        padding: 12px 32px;
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        padding: 16px 34px ;
        &-icon {
            font-size: 2rem;
        }
        &--facebook {
            color: $whiteColor;
            background-color: #3a5a98;
            & .auth-form__socials-icon {               
                color: white;
            }     
        }
        &-title {
            margin: 0 32px;
        }
        &--google {
            background-color: $whiteColor;
            color: #666;
        }
        
    }
}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
//   <!-- header with search -->
.header-with-search {
    margin: 0 4px;
    height: 96px;
    display: flex;
    align-items: center;
}
.header__logo {
    width: 200px;
    &-img {
        width: 110px;
        padding-top: 10px;
    }
    &-link {
        text-decoration: none;
    }
}
.header__search {
    flex: 1;
    background-color: $whiteColor;
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    &-input {
        &-wrap {
            position: relative;
            flex: 1;
            height: 100%;
        }
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1.4rem;
        color: $textColor;
        padding: 0 16px;
        border-radius: 2px;
        &:focus ~ .header__search-history {
            display: inline-block;
        }
    }
    &-select {
        padding-left: 16px;
        border-left: 1px solid #ccc ;
        position: relative;
        cursor: pointer;
        &-lable {
            font-size: 1.4rem;
            color: $textColor;
        }
        &-icon {
            margin: 0 16px 0 8px;
            font-size: 1.4rem;
            color: #4a4a4a;
            position: relative;
            top: 1px;
        }
        &:hover .header__search-option {
            display: inline-block;
        }
    }
    &-option {
        display: none;
        position: absolute;
        right: 0;
        top: calc(100% + 7px);
        width: 128px;
        box-shadow: 0 1px 1px rgb(223, 222, 222) ;
        padding-left: 0;
        border-radius: 2px;
        animation: fadeIn linear 0.2s;
        z-index: 2;
        &-item {
            list-style: none;
            background-color: $whiteColor;
            border-radius: 2px;
            padding: 8px 8px;    
            & span {
                margin-left: 8px;
                font-size: 1.4rem;
                color: $textColor;
            }
            & i {
                margin-left: 12px;
                font-size: 1.2rem;
                color: $primery-color;
                display: none;
            }
            &:hover {
                background-color: rgba(249, 249, 247, );
                cursor: pointer;
            }
            &:first-child {
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;

            }
            &:last-child {
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;

            }
            &--active {
                & i{
                    display: inline-block;
                }
            }
         
        }
        &::before {
            position: absolute;
            left: 0;
            width: 100%;
            top: -15px;
            height: 20px;         
            content: "";
            display: block;
        }
    }
    &-btn {
        background-color: $primery-color;
        border: none;
        height: 34px;
        width: 60px;
        outline: none;
        border-radius: 2px;
        margin-right: 3px;
        &-icon {
            font-size: 1.4rem;
            color: $whiteColor;
        }
        &:hover {
            background-color: rgba($color:$primery-color, $alpha: 0.8);
            cursor: pointer;
        }
    }
    &-history {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        width: calc(100% - 16px);
        border-radius: 2px;
        box-shadow: 0 3px 5px #cecece ;
        background-color: $whiteColor;
        overflow: hidden;
        display: none;
        z-index: 2;
        &-heading {
            margin: 6px 12px;
            font-size: 1.4rem;
            color: #999898;
            font-weight: 400;
        }
        &-list {
            margin: 6px 0 0;
            padding-left: 0;
            list-style: none;
        }
        &-item { 
            height: 38px;
            width: 100%;
            padding: 0 12px;
            & a {
                line-height: 38px;
                text-decoration: none;
                font-size: 1.4rem;
                color: black;
                display: block;
            }
            &:hover {
                background-color: rgba(249, 249, 247, );
            }
        }
    }
}
.header__card {
    width: 150px;
    text-align: center;
    &-wrap {
        position: relative;
        display: inline-block;
        padding: 0 8px;
        &:hover {
            cursor: pointer;
            & .header__card-list{
                display: block;
            }
        }   
    }
    &-icon {
        margin-top: 4px;
        color: $whiteColor;
        font-size: 2.4rem;
    }
    &-notice {
        background-color: $whiteColor;
        font-size: 1.4rem;
        color: $primery-color;
        font-weight: 600;
        padding: 1px 5px;
        line-height: 1.4rem;
        position: absolute;
        border-radius: 10px;
        border: 2px solid #ee4d2d;
        top: -5px;
        right: -7px;
    }
    &-list {
        position: absolute;
        width: 400px;
        top: calc(100% + 10px);
        right: -8px;
        border-radius: 2px;
        background-color: $whiteColor;
        box-shadow: 0 1px 2.5rem 0 rgba($color:$blackColor, $alpha: 0.3);
        animation: fadeIn linear 0.2s;
        cursor: default;
        display: none;
        z-index: 2;
        &--no-product {
            padding: 24px 0;
            & .header__card-no-product-img {
                display: block;
            }
            & .header__card-list-msg {
                display: block;
            }
        }
        &-msg {
            font-size: 1.6rem;
            color: $textColor;
            margin: 10px 0 0 0;
            display: none;
        }
        &::after {
            content: "";
            border-width: 20px 27px;
            border-style: solid;
            border-color: transparent transparent $whiteColor transparent;
            position: absolute;
            cursor: pointer;
            top: -30px;
            right: 0;
        }
    }
    &-no-product {
        &-img {
        margin-left: auto;
        margin-right: auto;
        display: none;
        width: 60%;
        }
    }
    &-heading {
        text-align: left;
        margin: 8px 0 8px 12px;
        font-size: 1.4rem;
        color: #999;
        font-weight: 400;
    }
    &-list-item {
        padding-left: 0;
        list-style: none;
        max-height: 40vh;
        overflow-y: auto;
    }
    &-item {
        display: flex;
        align-items: center;
       &:hover {
           background-color: #f8f8f8;
       }
        &-infor {
            width: 100%;
            margin-right: 12px;
        }
        &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
        }
        &-name {
            font-size: 1.4rem;
            font-weight: 600;
            margin: 0;
            max-width: 230px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &-price {
            font-size: 1.4rem;
            font-weight: 600;
            color: $primery-color;
            &-wrap {

            }
            
        }
        &-multiply {
            font-size: 0.9rem;
            margin: 0 4px;
        }
        &-quantity {
            font-size: 1.2rem;
        }
        &-body {
            display: flex;
            justify-content: space-between;
            margin-top: 4px;
        }
        &-description {
            font-size: 1.2rem;
        }
        &-remove {
            font-size: 1.4rem;
            font-weight: 600;
            cursor: pointer;
            &:hover {
                color: $primery-color;
            }
        }

    }
    &-img {
        border: 1px solid $border-color;
        width: 42px;
        height: 42px;
        margin: 12px;
    }
    &-view {
        float: right;
        margin: 0 12px 12px 0;
        &:hover {
            background-color: rgba($color:$primery-color, $alpha: 0.9);
        }
    }
    
   
}

//main container
.main__container {
    background-color: #f5f5f5;
}
.main__content {
    padding-top: 36px;
}
.category {
    background-color: $whiteColor;
    border-radius: 2px;
    &__heading {
        margin:0;
        font-size: 1.8rem;
        padding: 12px 14px;
        color:  rgba(0,0,0,0.8);;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);
        &-icon {
            margin-right: 4px;
            font-size: 1.4rem;
        }
    }
    &-list{
        padding-left: 0;
        padding-bottom: 8px;
        margin-left: 8px;
        list-style: none;
    }
    &-item {
        position: relative;
        &__link {
            position: relative;
            color: $textColor;
            font-size: 1.6rem;
            text-decoration: none;
            padding: 8px 14px;
            display: block;
            &:hover {
                color: $primery-color;
            }
        }
        &:first-child::before {
            display: none;
        }
        &::before {
            content: "";
            position: absolute;
            border-top: 1px solid #ebe8e8;
            top: 0;
            left: 14px;
            right: 14px;
        }
        &--active {
            & .category-item__link {
                color: $primery-color;
            }
        }
    }
}
// home short + filter
.home-filter {
    background-color: rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    &__title {
        font-size: 1.5rem;
        color:  rgba(27, 27, 27,0.7);
        margin-right: 16px;
    }
    &__page {
        display: flex;
        align-items: center;   
        margin-left: auto; 
        &-num {
            font-size: 1.5rem;
            color: $textColor;
            margin-right: 22px;
        }
        &-current {
            color: $primery-color;
        }
        &-total {
    
        }
        &-control {
            display: flex;
            width: 72px;
            height: 34px;
            background-color: $whiteColor;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);

        }
        &-btn {
            display: flex;
            flex: 1;
            text-decoration: none;
            &:first-child {
                border-right: 1px solid #eeee;
            }
            &--disable {
                background-color: #f9f9f9;
                cursor: default;
                & .home-filter__page-icon {
                    color: #ccc;
                }
            }
        }
        &-icon {
            margin: auto;
            font-size: 1.4rem;
            color: #555;
        }
    }
    &__btn {
        margin-right: 12px;
        min-width: 90px;
    }
    
}
.select-input{
    position: relative;
    min-width: 120px;
    height: 34px;
    padding: 0 12px;
    background-color: $whiteColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    z-index: 1;
    &__lable {
        font-size: 1.4rem;
    }
    &__icon {
        font-size: 1.4rem;
        color: #4a4a4a;
        position: relative;
        top: 1px;
    }
    &:hover .select-input__list{
        display: block;
    }
    &__list {
        position: absolute;
        left: 0;
        right: 0;
        top: 26px;
        border-radius: 2px;
        background-color: $whiteColor;
        box-shadow: 0 1px 1rem 0 rgba(0, 0, 0, 0.2);
        padding:8px 16px;
        list-style: none;
        display: none;
        &::after {
            content: "";
            width: 100%;
            height: 10px;
            position: absolute;
            top: -10px;
            right: 0px;
}
    }
    &__item {
        &-link {
            font-size: 1.4rem;
            text-decoration: none;
            color: $textColor;
            padding: 6px 0;
            display: block;
            &:hover {
                color: $primery-color;
            }
        }

    }
}
// Home product
.home-product {
    margin-bottom: 10px;
}
.home-product-item {
    display: block;
    text-decoration: none;
    position: relative;
    background-color: $whiteColor;
    margin-top: 10px;
    box-shadow: 0 1px 0.2rem 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: transform linear 0.1s;
    will-change: transform;
    &:hover {
        transform: translateY(-1px) ;
        box-shadow: 0 1px 2rem 0 rgba(0, 0, 0, 0.1);
    }
    &__name {
        height: 3.6rem;
        line-height: 1.8rem;
        font-size: 1.4rem;
        color: $textColor;
        font-weight: 400;
        margin: 10px 10px 6px;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    &__price {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        &-old {
            font-size: 1.4rem;
            color: #666;
            text-decoration: line-through;
            margin-left: 10px;
        }
        &-new {
            font-size: 1.6rem;
            color: $primery-color;
            margin-left: 10px;
            font-weight: 500;
            margin-left: 10px;
        }

    }
    &__img {
        padding-top: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__action {
        display: flex;
        justify-content: space-between;
        margin: 8px 10px;
    }
    &__like {
        font-size: 1.3rem;
        &-icon {
            &-default {

            }
            &-fill {
                color: rgb(223, 5, 5);
                display: none;
            }
        }
        &--liked {
            & .home-product-item__like-icon-default {
                display: none;
            }
            & .home-product-item__like-icon-fill {
                display: block;
            }
        }
    }
    &__rating {
        transform-origin: right;
        transform: scale(0.8);
        color: #d5d5d5;
        margin: 1px 0 0 auto;
    }
    &__star--gold {
        color: #ffce3d;
    }
    &__sold {
        margin-left: 8px;
        font-size: 1.4rem;
    }
    &__origin {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
        padding-bottom: 8px;
        color: #595959;
        &-name {
            font-size: 1.2rem;
        }
    }
    &__brand {
        font-size: 1.2rem;

    }
    &__favourite {
        position: absolute;
        top: 10px;
        left: -4px;
        font-weight: 600;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: rgba($color: $primery-color, $alpha: 0.9);
        &-icon {
            font-size: 0.9rem;
            margin: 0 2px 0 4px;
            color: $whiteColor;
        }
        &-title {
            font-size: 1.2rem;
            padding-right: 4px;
            line-height: 1.6rem;
            color: $whiteColor;
        }
        &::before {
            content: "";
            position: absolute;
            border-top: 3px solid $primery-color;
            border-left: 3px solid transparent;
            filter: brightness(60%);
            top: 100%;
            left: 0;
        }
    }
    &__sale-off {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 36px;
        background-color: rgba(243, 210, 62, 0.9);
        text-align: center;
        padding-top: 4px;
        &-percent {
            padding-top: 10px;
            color: #ee4d2d;
            font-size: 1.3rem;
            font-weight: 600;
            line-height: 1.3rem;
        }
        &-lable {
            font-size: 1.3rem;
            color: $whiteColor;
            font-weight: 600;
        }
        &::before {
            content: "";
            border-width: 0 20px 5px;
            border-style: solid;
            border-color: rgba(243, 210, 62, 0.9) rgba(243, 210, 62, 0.9)  transparent rgba(243, 210, 62, 0.9);
            position: absolute;
            top: 100%;
            right: 0;
        }
    }
}
// pagination
.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    &-item {
        margin: 0 10px;
        &__link {
            text-decoration: none;
            font-size: 1.8rem;
            color: #939393;
            min-width: 40px;
            height: 30px;
            display: block;
            text-align: center;
            line-height: 30px;
            border-radius: 2px;
        }
        &__icon {
            
        }
        &__num {
            
        }
        &--active {
            & .pagination-item__link {
                &:hover {
                    background-color: rgba($color: $primery-color, $alpha: 0.9);
                }
                color: $whiteColor;
                background-color: $primery-color;
            }
        }

    }
}
// footer
.footer {
    border-top: 4px solid $primery-color;
    padding-top: 12px;
}
.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $textColor;
    line-height: 1.8rem;
    min-height: 3.6rem;
}
.footer-list {
    padding-left: 0;
    list-style: none;
    &__item {
        &-link {
            text-decoration: none;
            font-size: 1.4rem;
            color: #737373;
            padding: 8px 0;
            display: flex;
            align-items: center;
            &:hover {
                color: $primery-color;
            }
        }
        &-icon {
            font-size: 2rem;
            margin-right: 16px;
        }
    }
}
.footer__download {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 8px;
    &-qr {
        width: 30%;
        border: 1px solid $border-color;
    }
    &-wrap {
        flex: 1;
        margin-left: 15px;
    }
    &-link {
        text-decoration: none;
    }
    &-googleplay {
        width: 70%;
    }
    &-appstore {
        width: 70%;
    }


}
.footer__text {
    font-size: 1.4rem;
}